In [2]:
import pandas as pd

In [3]:
# RK-4 set up
def rk4(f1, f2, f3, h, FValues, num_iter):
    "this function performs RK-4"
    
    steps = list(range(num_iter))
    
    for i in steps:
        
        k11 = h*f1(FValues['f_prime'][i])
        k12 = h*f2(FValues['f_prime_2'][i])
        k13 = h*f3(FValues['f'][i], FValues['f_prime_2'][i])

        k21 = h*f1(FValues['f_prime'][i] + k12/2)
        k22 = h*f2(FValues['f_prime_2'][i] + k13/2)
        k23 = h*f3(FValues['f'][i] + k11/2, FValues['f_prime_2'][i] + k13/2)

        k31 = h*f1(FValues['f_prime'][i] + k22/2)
        k32 = h*f2(FValues['f_prime_2'][i] + k23/2)
        k33 = h*f3(FValues['f'][i] + k21/2, FValues['f_prime_2'][i] + k23/2)

        k41 = h*f1(FValues['f_prime'][i] + k32)
        k42 = h*f2(FValues['f_prime_2'][i] + k33)
        k43 = h*f3(FValues['f'][i] + k31, FValues['f_prime_2'][i] + k33)

        f = FValues['f_prime'][i] + (1/6)*(k11 + 2*k21 + 2*k31 + k41)
        f_prime = FValues['f_prime'][i]  + (1/6)*(k12 + 2*k22 + 2*k32 + k42)
        f_dbl_prime = FValues['f_prime_2'][i] + (1/6)*(k13 + 2*k23 + 2*k33 + k43)
        
        FValues['eta'].append(i*h)
        FValues['f'].append(f)
        FValues['f_prime'].append(f_prime)
        FValues['f_prime_2'].append(f_dbl_prime)
                   
    return FValues

# Functions at hand
def y2(u2):
    "This is from f'=y2"
    y = u2
    return y

def y3(u3):
    "This is from f''=y3"
    y = u3
    return y

def y4(u1, u3):
    "This is from y'''=0.5(f*f'')"
    y = -0.5 * u1 * u3
    return y

In [4]:
#f_list = rk4(f1=y2, f2=y3, f3=y4, h=0.1, FValues=res, num_iter=100)

In [26]:
x_lower = 0
x_upper = 10

test_val = -1 #this is what we want to get

while abs(x_upper - x_lower) >= 10**(-6):
        
    # Trying values of f''
    x_test = (x_upper + x_lower)/2
    res = {'eta':[0], 'f':[0], 'f_prime': [0], 'f_prime_2' = [x_test]}
    
    res_tmp = rk4(f1=y2, f2=y3, f3=y4, h=0.1, FValues=res, num_iter=101)
    
    if (res_tmp['f_prime'][-1]-1)*test_val < 0:
        x_upper = x_test
    else:
        x_lower = x_test
        test_val = res_tmp['f_prime'][-1] -1

SyntaxError: invalid syntax (<ipython-input-26-c284142baaa2>, line 10)

In [27]:
pd.DataFrame(res_tmp).head(10)

   eta         f   f_prime  f_prime_2
0  0.0  0.000000  0.000000   0.275989
1  0.0  0.001380  0.027599   0.275983
2  0.1  0.031739  0.055195   0.275938
3  0.2  0.062094  0.082766   0.275457
4  0.3  0.092418  0.110267   0.274540
5  0.4  0.122664  0.137655   0.273192
6  0.5  0.152783  0.164887   0.271422
7  0.6  0.182729  0.191922   0.269240
8  0.7  0.212456  0.218719   0.266657
9  0.8  0.241919  0.245238   0.263689

In [28]:
pd.DataFrame(res_tmp).tail(10)

      eta         f   f_prime  f_prime_2
92    9.1  1.094705  0.995776   0.006004
93    9.2  1.095383  0.996360   0.005670
94    9.3  1.096024  0.996911   0.005355
95    9.4  1.096629  0.997432   0.005057
96    9.5  1.097200  0.997924   0.004775
97    9.6  1.097739  0.998388   0.004509
98    9.7  1.098249  0.998826   0.004257
99    9.8  1.098730  0.999240   0.004020
100   9.9  1.099184  0.999631   0.003795
101  10.0  1.099613  1.000000   0.003584

In [29]:
res = {'eta':[0], 'f':[0], 'f_prime': [0],  'f_prime_2': [5]}
pd.DataFrame(rk4(f1=y2, f2=y3, f3=y4, h=0.1, FValues=res, num_iter=101)).tail(10)

# Should get 6.09777 for f_prime

      eta         f   f_prime     f_prime_2
92    9.1  5.149413  4.681284  6.280865e-10
93    9.2  5.149413  4.681284  4.798714e-10
94    9.3  5.149413  4.681284  3.666320e-10
95    9.4  5.149413  4.681284  2.801146e-10
96    9.5  5.149413  4.681284  2.140135e-10
97    9.6  5.149413  4.681284  1.635109e-10
98    9.7  5.149413  4.681284  1.249258e-10
99    9.8  5.149413  4.681284  9.544597e-11
100   9.9  5.149413  4.681284  7.292275e-11
101  10.0  5.149413  4.681284  5.571453e-11